[Unit]
Description=Murphy Resource Policy Daemon

[Service]
Type=simple
ExecStart=/usr/bin/murphyd -v --log-level=info -f
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=default.target
